.slideshow-container{
    max-width: 1600px;
    position: relative;
    margin: 0 auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight:bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot{
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition:  0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
   -webkit-animation-name:fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity:0.6}
    to{opacity: 1}
}
@keyframes fade{
     from{opacity:0.6}
     to{opacity: 1}
}
.numbertext{
    color: #0e0d0d;
    font-size: 20px;
    text-align: center;
    top: 0;
    margin-bottom: 5px;
    font-family: monospace;

}